.Modal {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    cursor: crosshair;
  }
  
  .modal__container {
    background-color: #fff;
    max-width: 90vh;
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0 1px 10px #999;
    min-height: 80vh;
    justify-content: space-between;
    position: relative;
    text-align: left;
  }
  
  .modal__title {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  
  .modal__content {
    flex: 1;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .modal__footer {
    padding: 1rem;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
  }
  
  .modal__close{
    position: absolute;
    font-size: 2rem;
    top: 0.2rem;
    right: 1rem;
    cursor: pointer;
  }